<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Test" type="com.boot.demo.model.Test"/>
        <typeAlias alias="ColumnInfo" type="com.boot.demo.model.ColumnInfo"/>
        <typeAlias alias="BannerImage" type="com.boot.demo.model.demo.BannerImage"/>
        <typeAlias alias="Review" type="com.boot.demo.model.demo.Review"/>
        <typeAlias alias="Vendor" type="com.boot.demo.model.demo.Vendor"/>
        <typeAlias alias="User" type="com.boot.demo.model.demo.User"/>
        <typeAlias alias="Room" type="com.boot.demo.model.demo.Room"/>
        <typeAlias alias="Store" type="com.boot.demo.model.demo.Store"/>
        <typeAlias alias="HomeUser" type="com.boot.demo.model.demo.response.home.HomeUser"/>
        <typeAlias alias="HomeVendor" type="com.boot.demo.model.demo.response.home.HomeVendor"/>
        <typeAlias alias="HomePaybackStore" type="com.boot.demo.model.demo.response.home.HomePaybackStore"/>
        <typeAlias alias="StoreLike" type="com.boot.demo.model.demo.StoreLike"/>
        <typeAlias alias="LoginCheck" type="com.boot.demo.model.demo.response.login.user.LoginCheck"/>
        <typeAlias alias="StoreNoCheck" type="com.boot.demo.model.demo.response.main.StoreNoCheck"/>
        <typeAlias alias="RecommendedStore" type="com.boot.demo.model.demo.response.main.RecommendedStore"/>
    </typeAliases>
</configuration>
