<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvsolutions.payus.mapper.AdvertisementBannerMapper">
    <select id="getBannersForMainPage" resultType="MainPageAdvertisementBanner">
        select advertisement_no, banner_sm_img
        from advertisement_banner
        WHERE status = true
        ORDER BY revise_date DESC
        LIMIT 5
    </select>
</mapper>