<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvsolutions.payus.mapper.PointAccumulateCancelMapper">
    <insert id="insertPointCancelRequest">
        insert into point_accumulate_cancel(accumulate_no, reason, reg_date)
        VALUES (#{accumulate_no}, #{reason}, #{reg_date})
    </insert>
    <select id="getPointAccumulateCancelReason" resultType="string">
        select reason
        from point_accumulate_cancel
        WHERE accumulate_no = #{content_no}
    </select>
</mapper>