<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvsolutions.payus.mapper.PointChargeMapper">
    <insert id="insertNewPointChargeRequest" keyProperty="charge_no" useGeneratedKeys="true">
        insert into point_charge (vendor_no, point, reg_date)
        VALUES (#{request.vendor_no}, #{request.point}, #{now})
    </insert>
    <select id="getVendorChargeList" resultType="VendorPointChargeListResponse">
        select charge_no, point, status, reg_date, read_check
        from point_charge
        WHERE vendor_no = #{vendor_no}
        ORDER BY reg_date DESC, charge_no DESC
        LIMIT 10
    </select>
    <select id="getVendorChargeListReload" resultType="VendorPointChargeListResponse">
        SET @RegDate = (select reg_date
                        from point_charge
                        WHERE charge_no = #{last_index});
        select charge_no, point, status, reg_date, read_check
        from point_charge
        WHERE vendor_no = #{vendor_no}
          AND (reg_date <![CDATA[<]]> @RegDate OR (reg_date <![CDATA[=]]> @RegDate AND charge_no <![CDATA[<]]> #{last_index}))
        ORDER BY reg_date DESC, charge_no DESC
        LIMIT 10
    </select>
    <select id="checkChargeAbleToCancel" resultType="_boolean">
        select IF(status = 1, false, true)
        from point_charge
        WHERE charge_no = #{charge_no}
    </select>
    <update id="chargeCancelRequestUpdate">
        update point_charge
        SET status = 3
        WHERE charge_no = #{charge_no}
    </update>
    <update id="updateReadCheck">
        update point_charge SET read_check = true WHERE
        <choose>
            <when test="chargeList.size != 0">
                charge_no in
                <foreach collection="chargeList" item="item" index="index" open="(" separator="OR" close=")">
                    #{item.charge_no}
                </foreach>
            </when>
        </choose>
    </update>
</mapper>