<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.demo.mapper.ReviewMapper">
    <insert id="insertReviews" keyProperty="review_no" useGeneratedKeys="true">
        insert into review(store_no, user_no, reg_date, review_ratio, image_list, content, is_answered, answer_content,
        answer_date, user_name)
        VALUES
        <foreach collection="reviewList" item="item" separator=",">
            (
            #{item.store_no},
            #{item.user_no},
            #{item.reg_date},
            #{item.review_ratio},
            #{item.image_list},
            #{item.content},
            #{item.is_answered},
            #{item.answer_content},
            #{item.answer_date},
            #{item.user_name}
            )
        </foreach>
    </insert>
    <select id="getSimpleReviewList" resultType="ReviewStoreUpdate">
        select store_no, review_ratio
        from review
        WHERE store_no = #{store_no}
    </select>
    <select id="getReviewsForDetail" resultType="StoreReviewComponents">
        select review_no,
               user_name,
               content,
               image_list,
               answer_content,
               reg_date,
               answer_date,
               answer_content,
               review_ratio,
               is_answered
        from review
        WHERE store_no = #{store_no}
    </select>
</mapper>