<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.demo.mapper.StoreLikeMapper">
    <select id="checkStoreLikeByUserNo" resultType="string">
        select reg_date
        from storelike
        where user_no = #{user_no}
          AND store_no = #{store_no}
    </select>
    <select id="checkStoreLikeByVendorNo" resultType="string">
        select reg_date
        from storelike
        WHERE vendor_no = #{vendor_no}
          AND store_no = #{store_no}
    </select>
    <delete id="deleteUserStoreLike">
        delete
        from storelike
        WHERE store_no = #{store_no}
          AND user_no = #{user_no}
    </delete>
    <delete id="deleteVendorStoreLike">
        delete
        from storelike
        WHERE store_no = #{store_no}
          AND vendor_no = #{vendor_no}
    </delete>
    <insert id="insertUserStoreLike">
        insert into storelike(store_no, user_no, reg_date)
        VALUES (#{store_no}, #{user_no}, NOW())
    </insert>
    <insert id="insertVendorStoreLike">
        insert into storelike(store_no, vendor_no, reg_date)
        VALUES (#{store_no}, #{vendor_no}, NOW())
    </insert>
</mapper>