<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.demo.mapper.TestMapper">
    <select id="sqlRollbackTest" resultType="Test">
        select *
        from test;
    </select>
    <select id="sqlColumnNameTest" resultType="ColumnInfo">
        select column_name, column_comment
        FROM information_schema.COLUMNS
        WHERE TABLE_SCHEMA = 'payus'
          AND TABLE_NAME = 'test';
    </select>
</mapper>