<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvsolutions.payus.mapper.UserMapper">
    <select id="getUserForMainPage" resultType="MainPageUser">
        select user_no, nickname, point
        from user
        WHERE user_no = #{user_no}
    </select>
</mapper>