<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvsolutions.payus.mapper.VendorMapper">
    <select id="checkVendorExists" resultType="_boolean">
        select EXISTS(select * from vendor WHERE id = #{id} AND password = #{password})
    </select>
    <select id="loginVendor" resultType="VendorLoginResponse">
        select vendor_no, valid_vendor, vendor_penalty
        from vendor
        WHERE id = #{id}
          AND password = #{password}
    </select>
    <select id="checkVendorPenalty" resultType="_boolean">
        select vendor_penalty
        from vendor
        WHERE vendor_no = #{vendor_no}
    </select>
    <select id="getVendorName" resultType="string">
        select vendor_name
        from vendor
        WHERE vendor_no = #{vendor_no}
    </select>
    <select id="getVendorHome" resultType="VendorHomeResponse">
        select name, point, vendor.vendor_no as vendor_no, vendor_name
        from store,
             vendor
        WHERE store.vendor_no = #{vendor_no}
          AND vendor.vendor_no = #{vendor_no}
    </select>
    <select id="getVendorPoint" resultType="SupPointChargeDataResponse">
        select vendor_no, point
        from vendor
        WHERE vendor_no = #{vendor_no}
    </select>
    <update id="requestPayback">
        update vendor
        SET point = point - #{point}
        WHERE vendor_no = #{vendor_no}
    </update>
    <select id="getVendorFCMToken" resultType="string">
        select fcm_token
        from vendor
        WHERE vendor_no = #{vendor_no}
    </select>
    <update id="updateVendorFcmToken">
        update vendor
        SET fcm_token = #{fcm_token}
        WHERE vendor_no = #{vendor_no}
    </update>
    <select id="findIdVendor" resultType="string">
        select id
        from vendor
        WHERE vendor_no = #{vendor_no}
    </select>
    <select id="vendorFindIdPost" resultType="VendorFindIdResponse">
        select vendor_no
        from vendor
        WHERE vendor_name = #{name}
          AND phone = #{phone}
    </select>
    <select id="findPassword" resultType="VendorPasswordFindResponse">
        SET @Vendor_NO = (select vendor_no
                          from vendor
                          WHERE id = #{id});
        select EXISTS(select * from vendor WHERE id = #{id})                    as id_exist,
               IF(EXISTS(select * from vendor WHERE id = #{id}), @Vendor_NO, 0) as vendor_no
    </select>
    <select id="getPasswordFindResult" resultType="VendorPasswordFindResultData">
        select vendor_no, id
        from vendor
        WHERE vendor_no = #{vendor_no}
    </select>
    <select id="checkVendorCurrentPassword" resultType="_boolean">
        select IF(password = #{password}, TRUE, FALSE)
        from vendor
        WHERE vendor_no = #{vendor_no}
    </select>
    <update id="resetPassword">
        update vendor
        SET password = #{password}
        WHERE vendor_no = #{vendor_no}
    </update>
    <select id="checkVendorExistsByEmail" resultType="_boolean">
        select EXISTS(select * from vendor WHERE id = #{email})
    </select>
    <insert id="insertVendor" useGeneratedKeys="true" keyProperty="vendor_no">
        insert into vendor(id, password, vendor_name, business_code, phone, bank_name, bank_account, bank_owner,
                           reg_date)
        VALUES (#{id}, #{password}, #{vendor_name}, #{business_code}, #{phone}, #{bank_name}, #{bank_account},
                #{bank_owner}, #{reg_date})
    </insert>
    <select id="getVendorInfoForMyPage" resultType="VendorMyPageInfo">
        select id, vendor_name as name, phone, bank_name, bank_account, bank_owner
        from vendor
        WHERE vendor_no = #{vendor_no}
    </select>
    <select id="getVendorBusinessInfoForMyPage" resultType="VendorMyPageBusinessInfo">
        select store.name as store_name, vendor.business_code, vendor.vendor_name
        from store,
             vendor
        WHERE vendor.vendor_no = #{vendor_no}
          AND store.vendor_no = #{vendor_no}
    </select>
</mapper>